# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master, dev ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  jestTesting:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.16.3]

    services:
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    env:
      ENVIROMENT: test
      REDIS_HOST: redis-13073.c10.us-east-1-4.ec2.cloud.redislabs.com
      CONFIG_BCRYPT_SALT_ROUNDS: 20
      DATABASE_PROVIDER: postgres
      TESTDATABASE_URL: postgres://postgres:postgres@127.0.0.1:5432/test
      JWT_SECRET_ACCESS: asdasasdqwe13
      JWT_SECRET_REFRESH: refresh
      TWILIO_ACCOUNT_SID: AC1b0dcde593a5883a5bcb1de199628c6f
      TWILIO_ACCOUNT_TOKEN: 1c1e66d233fcf8a5ab6599006070140f
      TWILIO_SMS_CELLPHONE_NUMBER: +15005550006
      REDIS_PASSWORD: aWEkwtTXb3TNCfLsnqrvp49yw1n7iG78
      REDIS_PORT: 13073

    steps:

      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm test
